* {
    background-color: lightsalmon;
}

body {
    color: darkblue;    
}

.highlight {
    color: green;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    font-size: 30px;
}

#salesPerHour {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color:  darkred;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

#salesTable {
   position: sticky;
   display: block;
   margin-left: 1%;
   margin-right: 1%;
   font-family: 'Courier New', monospace;

}

td {
    padding: 8px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-weight: 600;
    width: 100px;
    height: 80px;
    font-size: 28px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 10px;

}

#total {
    font-size: 34px;
    font-family: 'Rubik Mono One', monospace;
    text-decoration: transparent;
    color: green;
    font-weight: lighter;
}

form {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    position: absolute;
    margin-right: 50%%;
    margin-bottom: 2%;
}

#button {
    color: salmon;
    background: rgb(175, 80, 12)
}

legend {
    font-weight: 900;
    font-size: 40px;
}